* {
    font-size: 62,5%;
}

body {
    /* background-color: #BFC0C1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23FFFFFF' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23BFC0C1' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23c3b5b6' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c7a9aa' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ca9e9f' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23ce9394' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d28888' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23d67c7d' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23d97172' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23dd6666' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23e15a5b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23e54f4f' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23e84444' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23ec3839' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23f02d2d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23f42222' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23f71717' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23fb0b0b' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23FF0000' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    width: 100vw;
}

a {
    color: #282828;
    text-shadow:
            -0.2px -0.2px 0 #000,  
            0.2px -0.2px 0 #000,
            -0.2px 0.2px 0 #000,
            0.2px 0.2px 0 #000;
}

nav {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    a {
        color: #ff0000;
    }
}

header {
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    width: 100vw;
}

main {
    background-image: url("../images/cadena.png");
    background-repeat: repeat-y;
    background-size: 8vw;
    width: 100vw
}

footer {
    @extend header;
}

.secciones{
    background-image: url(../images/fondoRuido.png);
    border: 1px solid #000000;
    &__titulo{
        background-color: $fondoTitulos;
        border: 1px solid #000000;
        &--fuente{
            font-family: $tituloFuente;
            font-size: 1.6rem;
            color: $colorTextoTitulo;
            text-shadow:
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        }
    }
    &__contenido{
        &--fuente{
            font-family: $contenidoFuente;
            font-size: 1.2rem;
            color: $colorTextoContenido;
        }
    }
}

.header {
    &--fuente {
        font-family: $headerFuente;
        color: $colorTextoHeader;
    }
}

.footer {
        &--fuente {
            font-family: $footerFuente;
            color: $colorTextoFooter;
        }
}

.subrayado{
    text-decoration: underline;
}

.enfasis {
    font-weight: 700;
}

.clientes {
    background-image: url(../images/fondoRuido.png);
    border: 1px solid #000000;
}

ul {
    li {
        list-style-image: url(../images/tuerca.png);
        list-style-position: inside;
    }
}