/* * {
    font-size: 62,5%;
} */
body {
    background-color: $backgroundBody;
}

main {
    background-image: url("../images/cadena.png");
    background-repeat: repeat-y;
    background-size: 8vw;
}

.secciones{
    background-color: $fondoSecciones;
    border: 1px solid #000000;
    &__titulo{
        background-color: $fondoTitulos;
        &--fuente{
            font-family: $tituloFuente;
            color: $colorTextoTitulo;
        }
    }
    &__contenido{
        &--fuente{
            font-family: $contenidoFuente;
            color: $colorTextoContenido;
        }
    }
}

.subrayado{
    text-decoration: underline;
}

.enfasis {
    font-weight: 700;
}

.clientes {
    background-color: $fondoClientes;
    border: 1px solid #000000;
}