$fondoTitulos : #BFC0C1;
$fondoClientes : #BFC0C1;
$backgroundBody : #FFFFFF;
$colorTextoTitulo : #FFFFFF;
$tituloFuente : 'Work Sans', sans-serif;
$colorTextoContenido : #000000;
$contenidoFuente: 'Nunito', sans-serif;    
$colorTextoFooter : #000000;
$footerFuente: 'Nunito', sans-serif;
$colorTextoHeader: #000000;
$headerFuente: 'Nunito', sans-serif;     