@import '../bulma/_bulma.sass';
@import './variables';
@import './index';


@media only screen and(max-width: 768px){
    nav{
        font-size: 0.8rem;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 2vh;
        right: vw;
    }
}
